@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
    /* background-image: radial-gradient(circle farthest-side at center, hsl(263, 89%, 26%) 0%, hsl(262, 83%, 14%) 100%); */

  background-color: hsl(263, 89%, 26%);
  background-image: url('../static/assets/background.png');
  color: white;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: 100% auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes gradient-animation {
  0% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 60% 40%;
  }
  50% {
    background-position: 50% 30%;
  }
  75% {
    background-position: 40% 40%;
  }
  100% {
    background-position: 50% 50%;
  }
}

@layer base {
  @font-face {
    font-family: 'Clash';
    font-style: regular;
    font-weight: 600;
    font-display: swap;
    src: url( ../static/fonts/ClashGrotesk-Medium.woff) format('woff');
  }
}

@layer base {
  @font-face {
    font-family: 'Clash-regular';
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url( ../static/fonts/ClashGrotesk-Regular.woff) format('woff');
  }
}